@using UcundanTut.Entity.Concrete
@model List<Etkinlik>


<html>
<head>

</head>
<body style="background-color:00a86b">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>




    <div class="row">

        <div class="col-2">
            <div class="d-flex flex-column align-items-center">
                <h2 class="text-center">Filtre Menüsü</h2><br>

                <div>
                    <form method="get" id="filter">
                        <div>
                            <input name="sehir" class="form-control" placeholder="Şehir giriniz..." />
                        </div>
                        <button class="btn">Filtrele</button>
                    </form>
                </div>

                <br>



            </div>
        </div>


        <div class="col-10">
            <div class=" row justify-content-center">
                @foreach (var item in Model)
                {

                    <div style="background-color: #F5F5F5	; border-radius: 10px; padding: 20px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); width: 500px; font-family: Arial, sans-serif; position: relative;margin:20px">
                        <div style="display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px;">
                            <div style="display: flex; align-items: center;">
                                @*                                <img style="width: 50px; height: 50px; border-radius: 50%; object-fit: contain; margin-right: 10px;" src="@item.DernekLogo" alt="Dernek Logosu">
                            <h3 style="font-size: 20px; color:black;">@item.DernekAd</h3>*@
                            </div>
                            <a href="etkinlik_detay.html" style="text-decoration: none; background-color: #007bff; color: #ffffff; padding: 10px 20px; border-radius: 5px; font-size: 14px; position: absolute; bottom: 20px; right: 20px;">Detay</a>
                        </div>
                        <h1 style="font-size: 24px; font-weight: bold; margin-bottom: 10px; color: #333;">@item.EtkinlikAd</h1>
                        <p style="font-size: 18px; margin-bottom: 20px;">@item.EtkinlikAciklama</p>
                        <p style="font-size: 16px; color: #6c757d; margin-bottom: 10px;">Mekan: @item.EtkinlikMekan</p>
                        <p style="font-size: 16px; color: #6c757d; margin-bottom: 10px;">Tarih: @item.BaslangicZamani</p>
                        <p style="font-size: 16px; color: #6c757d;">Şehir: @item.EtkinlikSehri</p>
                    </div>
                }
            </div>
        </div>

    </div>




</body>
</html>